EjemplosUso.txt
InstruccionesCompilacion.txt
draw_tree.py
python.py
compileGCC.sh
neo_g_.sh
neo_q.sh
neo_s_.sh
sal5q.sh
script_f.sh
script_neo.sh
PARS
PARS2
solutions/
lib/
parallel_data/
thin_parallel_data/
tiempos/
fichero_comparacion/
tiempos_paralelos_mix/
tiempos_secuenciales/
