EjemplosUso.txt
InstruccionesCompilacion.txt
soluciones.txt
soluciones.out
solutions.out
PARS
comp_secuenciales.sh
ejecucion_tiempos_paralelo.sh
ejecutar_sec.sh
script.sh
tara_10k.sh
tara_100.sh
draw_tree.py
python.py
solutions/
lib/
parallel_data/
